<h1>movies#index</h1>

<table>
  <tr>
    <th>Rank</th>
    <th>Title</th>
  </tr>
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.rank %></td>
      <td><%= link_to "#{movie.title}", movie %></td>
    </tr>
  <% end %>
</table>

<p><%= button_to 'Add a Movie', movies_new_path, method: :get %></p>